@import './_colors';

*{
    box-sizing: border-box;
}

body {
    background: $first-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

root {
    width: 100%
}

.root {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
}

.sidebar-wrapper {
    width: 25%;
    display: flex;
}

.display-section {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}