<label for="name">Name</label>
<input type="text" ng-model="ctrl.user.name" value="" id="name">
<input ngf-select  typ="file" ng-model="ctrl.profile" placeholder="Profile Image"/>
<label for="profession">Profession</label>
<input type="text" ng-model="ctrl.user.profession" id="profession">
<label for="editorContent">About You</label>
<textarea ui-tinymce="ctrl.tinymceOptions" rows="5" id="editorContent" ng-model="ctrl.user.about" cols="80">{{ctrl.user.about}}</textarea>
<label for="git">Github Username</label>
<input type="text" ng-model="ctrl.user.github" id="git">
<label for="twitter">Twitter Username</label>
<input type="text" ng-model="ctrl.user.twitter" id="twitter">
<label for="navs">Blog Nav Options(separate with comma)</label>
<input type="text" ng-model="ctrl.user.navs" id="navs">
<button ng-click="ctrl.editUser()">Save</button>
