@import "../../_base";

.nav-wrapper {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    align-items: center;
    justify-content: center;
    .nav {
        display: flex;
        width: 100%;
        max-width: 100%;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        justify-content: space-around;
        & .nav-item {
            font: {
                size: 1.28rem;
                weight: 700;
                padding-bottom: 0.5rem;
                border-bottom: 0.5rem solid $second-color;
            }
            & a {
                color: $second-color;
                text-decoration: none;
                padding: 0.5rem;
                transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                &:hover {
                    color: black;
                    background: $third-color;
                }
                &:active {
                    transform: scale(0.5);
                }

                &.active {
                    color: black;
                    background: $third-color;
                }
            }
        }
        & .nav-item:first-child {
            margin-left: 5px;
        }
        & .nav-item:last-child {
            margin-right: 5px;
        }
    }
}
