node_modules/
client/dashboard/dist/css/styles.css
client/dashboard/dist/js/app.js
client/dashboard/dist/js/vendor.js
client/blog/dist/css/styles.css
client/blog/dist/js/app.js
client/blog/dist/js/vendor.js