@import "../../_base";

.home {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    font-size: 1.57rem;
    flex-direction: column;
    color: $third-color;
    line-height: 1.73rem;
    padding: 0rem 0.25rem;
    font-size: 1.32rem;
}
