<div class="contact_wrapper">
  <h2 class="contact_header">Feel free to ask your question or if you just want to say hi</h2>
  <div class="contact_form">
    <div class="contact_name_wrapper">
      <input type="text" id="name" class="contact_name" ng-model="ctrl.user.name" required>
      <label for="name">Name</label>
    </div>
    <div class="contact_email_wrapper">
      <input type="text" id="email" class="contact_email" ng-model="ctrl.user.email" required>
      <label for="email">Email</label>
    </div>
    <textarea name="" id="message" cols="8" rows="5" ng-model="ctrl.user.message" class="contact_message" placeholder="Your message" required></textarea>
    <button type="button" name="button" ng-click="ctrl.contact()" class="contact_post">Submit</button>
  </div>
</div>
