@import "./_base";

body {
  margin: 0;
  padding: 0;
  color: black;
  background: $first-color;
  font-family: Helvetica;
}

*{
  box-sizing: border-box;
}

.zero_height {
  margin-top: -20rem;
}

.hide {
  display: none;
}

.fixed_nav {
  background: $first-color;
  position: fixed;
  top: 0;
  right: 20%;
  left: 20%;
}

.root {
    display: flex;
    max-width: 60%;
    background: $first-color;
    margin: 0 auto;
    padding: 0.5rem;
    flex-direction: column;
    h1 {
      color: #21201f;
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
  font-weight: 500;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
  font-weight: 500;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
  font-weight: 500;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
  font-weight: 500;
}

@media only screen and (min-width: 1980px) {
	.root {
		width: 1200px;
	}
}

@media  only screen and (max-width: 1280px) {
  .root {
    max-width: 70%;
  }

  .fixed_nav {
    left: 10%;
    right: 10%;
  }
}

@media only screen and (max-width: 980px){
  .root {
    max-width: 80%;
  }
}

@media only screen and (max-width: 800px){
  .root {
    max-width: 90%;
  }

  .fixed_nav {
    left: 5%;
    right: 5%;
  }
}

@media only screen and (max-width: 480px){
  .root {
    max-width: 95%;
  }

  html {
    font-size: 12px;
  }

  .fixed_nav {
    left: 0;
    right: 0;
  }

  .zero_height {
    margin-top: -30rem;
  }
}