@import "./_base";

html {
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: black;
  min-height: 100vh;
  height: auto;
  font-family: 'Roboto', sans-serif;
  background: $fourth-color;
}

.social-wrapper > a:hover {
  background: transparent;
}

*{
  box-sizing: border-box;
}

.zero_height {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.hide {
  display: none !important;
}

.fixed_nav {
  background: $first-color;
  position: fixed;
  color: $second-color;
  top: 0;
  z-index: 30;
  right: 0;
  box-shadow: $nav-shadow;
  left: 0;
}

.no_z_index {
  z-index: 0 !important;
}

.root {
    display: flex;
    max-width: 100%;
    height: 100vh;
    background: inherit;
    margin: 0 auto;
    flex-direction: column;
}

.view-section {
  opacity: 0;
}

.opaque {
  opacity: 1;
}

.no_flow {
  overflow-y: hidden;
}

.so_flow {
  overflow-y: scroll;
  height: 100vh;
}

.fix_post_header {
  position: fixed;
  top: 60px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
  font-weight: 500;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
  font-weight: 500;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
  font-weight: 500;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
  font-weight: 500;
}

@media only screen and (min-width: 1980px) {
	.root {
		width: 1200px;
	}
}

@media only screen and (max-width: 480px){

  html {
    font-size: 12px;
  }

  .zero_height {
    margin-top: -30rem;
  }
}
