<div class="post_field">
    <input type="text" class="new_title"  ng-model="ctrl.post.title" placeholder="Post Title">
    <textarea name="image" style="visibility: hidden" ui-tinymce="ctrl.tinymceOptions" rows="30" id="editorContent" ng-model="ctrl.post.content" cols="80">{{ctrl.post.content}}</textarea>
    <div class="new_post_buttons">
        <button ng-click="ctrl.createPost(ctrl.post, true)">Draft</button>
        <button ng-click="ctrl.createPost(ctrl.post, false)">Publish</button>
    </div>
</div>
