.signup_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .signup {
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        & .email, & .password {
            max-width: 40%;
            padding: 1rem;
            font: {
                size: 1.3rem;
                weight: 700;
            }
        }
    }
}