@import '../../../_colors';

.all-posts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  & .post-item {
    width: 100%;
    margin: 0.5rem auto;
    &:not(.hide){
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    & .post-item-title {
      font: {
        size: 1.6rem;
        weight: 700;
      }
      cursor: pointer;
      margin-bottom: 0.5rem;
      color: $second_color;
    }
    & .post-item-content {
      font: {
        size: 1.3rem;
        weight: normal;
      }
      color: $third_color;
      line-height: 1.6rem;
      margin-top: 0;
    }
    & .post-item-more {
      font: {
        size: 1.2rem;
        weight: 700;
      }
      color: black;
      text-decoration: dotted;
      padding: 0.5rem;
      border: 2px solid black;
      background: $third_color;
      transition: all 0.4s linear;
      &:hover {
        background: $second_color;
      }
    }
  }
  & .toggle_buttons {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 1rem auto;
    & .toggle_button {
      padding: 1rem 2rem;
      margin: 0;
      transition: all 0.4s linear;
      cursor: pointer;
      font: {
        size: 1.3rem;
        weight: 900;
      }

      &.active {
        border-bottom: 2px solid black;
      }

      &.active.left {
        box-shadow: 5px 5px 5px 1px black;
      }

      &.active.right {
        box-shadow: -5px 5px 5px 1px black;
      }
    }
  }
}