<div class="all-posts" ng-if="ctrl.isLoggedIn">
  <div class="toggle_buttons">
    <h2 id="published" class="toggle_button left active" toggle-post>Published</h2>
    <h2 id="draft" class="toggle_button right" toggle-post>Draft</h2>
  </div>
  <div class="post-item published" ng-repeat="post in ctrl.posts.published">
    <h2 class="post-item-title" ui-sref="edit({url: post.url })">{{post.title}}</h2>
  </div>
  <div class="post-item draft hide" ng-repeat="post in ctrl.posts.draft">
    <h2 class="post-item-title" ui-sref="edit({url: post.url })">{{post.title}}</h2>
  </div>
</div>
