<div id="edit-post">
  <input type="text" ng-model="ctrl.post.title">
  <textarea name="image" style="visibility: hidden" ui-tinymce="ctrl.tinymceOptions" rows="5" id="editorContent" ng-model="ctrl.post.content" cols="80">{{ctrl.post.content}}</textarea>
  <div class="seo_block">
      <input type="text" class="author_name" placeholder="Author" ng-model="ctrl.post.meta.author">
      <textarea name="" id="" cols="30" rows="5" placeholder="Write a short description" ng-model="ctrl.post.meta.description"></textarea>
      <input type="text" class="keywords" placeholder="Enter keywords separated by a comma" ng-model="ctrl.post.meta.keywords">
  </div>
  <button ng-click="ctrl.updatePost()">Update</button>
</div>
