@import "../../_base";
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $second-color;
    padding: 2rem 0;
    height: 90vh;
    top: 0;
    justify-content: space-around;
    .profile-wrapper {
        width: 150px;
        opacity: 1;                
        height: 150px;
        img {
            max-width: 100%;
            visibility: hidden;            
        }
    }
    .name-wrapper {
        display: flex;
        flex-direction: column;
        opacity: 1;        
        color: #000;
        align-items: center;
        justify-content: center;
        & .name {
            font-size: 2.5rem;
            margin-top: 0;
            color: $first-color;
        }
        & .job {            
            font-size: 1.5rem;
            font-weight: 900;
            color: $first-color;
            margin-top: 0;
        }

        & .description {
            font-size: 1.3rem;
            width: 45%;
            margin: 0 auto;
            margin-bottom: 1rem;
            font-weight: normal;
            color: $first-color;
        }

    }
    .social-wrapper {
        display: flex;
        opacity: 1;                
        align-items: center;
        justify-content: space-between;
        & a {
            color: #77a0d6;
            display: flex;
            width: 64px;
            height: 64px;
            align-self: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 5px;
            & svg {
                fill: #adadad;
                transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                &:hover {
                    fill: #77a0d6;
                    transform: scale(1.5);
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }
}