@import '../_colors';

.sidebar {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    & ul {
        padding-left: 0;
        display: flex;
        list-style: none;
        flex-direction: column;
        justify-content: space-around;
        & li {
            color: $third-color;
            cursor: pointer;
            display: flex;
            align-items: center;
            margin: 3rem 0;
            transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            padding: 0.5rem 0.25rem;
            font: {
                size: 2rem;
                weight: 600;
            }

            &:first-child {
                margin-top: 0rem;
            }

            & .material-icons {
                font: {
                    size: inherit;
                    weight: 700;
                }
            }

            & a {
                color: inherit;
            }

            &:hover{
                color: black;
                background: $third-color;
            }
        }
        & li.you_got_mail {
            animation: got_mail 1s cubic-bezier(0.77, 0, 0.175, 1) infinite;
            & span {
                border: 0;
                border-radius: 100%;
                padding: 0.5rem;
                margin-left: 1rem;
                width: 1rem;
                height: 1rem;
                background: $third-color;
                color: $first-color;
            }
        }
    }
}

@keyframes got_mail {
    from {
        transform: rotatez(0deg);
    }

    25% {
        transform: rotatez(5deg);        
    }

    50% {
        transform: rotatez(0deg);
    }

    75% {
        transform: rotatez(-5deg);
    }

    to {
        transform: rotatez(0);
    }
}