@import "../../../_base";

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 6rem;
    background: $first-color;
    box-shadow: $box-shadow;
    border-radius: 5px;
    & .post {
        display: flex;
        flex-direction: column;
        margin: 1.5rem auto;
        border-bottom: 1px solid $third-color;
        & a {
            color: $second-color;
            font-size: 1.57rem;
            font-weight: bold;
        }
        & h1 {
            color: black;
        }
    }
}

@media only screen and (max-width: 960px) {
  .posts {
    width: 85%;
  }
}

@media only screen and (max-width: 720px) {
  .posts {
    width: 95%;
  }
}
