@import "../../../_base";

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .post {
        display: flex;
        flex-direction: column;
        margin: 1.5rem auto;
        width: 45%;
        & a {
            color: $second-color;
            font-size: 1.57rem;
            font-weight: bold;
            text-align: center;
        }
        & h1 {
            color: black;
        }
    }
}
