@import '../../_colors';

.news_field {
    display: flex;
    flex-direction: column;
    & .news_title {
        padding: 0.5rem;
        margin: 1rem 0;
        width: 100%;
        font-size: 1.3rem;
    }

    .new_news_buttons {
		display: flex;
		margin-top: 2rem;
		justify-content: space-around;
		button {
			padding: 0.5rem 0.25rem;
			cursor: pointer;
			width: 15rem;
			border: 4px solid black;
			background: $first_color;
			transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
			border-radius: 10px;
			color: $second_color;
			font: {
				size: 1.3rem;
				weight: 700;
			}
			&:hover {
				background: $second_color;
				color: black;
			}
		}
	}
    
}