@import "../../../_base";

.new_comment_wrapper {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: 1rem auto;
    max-width: 100%;
    align-items: center;
    & .new_comment_header {
        font-size: 2rem;
    }
    & .comment_form_wrapper {
        background: $first-color;
        box-shadow: 2px 2px 2px $third-color, -2px -2px 2px $third-color;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        justify-content: center;
        & .name_email_wrapper {
            width: 80%;
            margin: 1.5rem 0rem;
            & .new_name, & .new_email {
            border: none;
            color: black;
            width: 100%;
            margin: 0.7rem 0;
            padding: 1rem 0.5rem;
            background: $fifth-color;
    
            font-size: 1.32rem;
            }
        }

        & .new_comment {
            padding: 0.5rem;
            resize: none;
            width: 80%;
            color: black;
            border: 2px solid $third-color;
            margin-bottom: 1.5rem;
            background: $fifth-color;
            font: {
                size: 1.32rem;
                family: inherit;
            }
        }
    }

    & .comment_post {
        width: 30%;
        border: none;
        border-radius: 5px;
        color: $first-color;
        cursor: pointer;
        margin-bottom: 1.5rem;
        padding: 0.5rem;
        
        background: $third-color;
        transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        border-radius: 2px;
        color: $second-color;
        font: {
            size: 1.5rem;
            weight: 900;
        }

        &:hover {
            background: $sixth-color;
            color: black;
            box-shadow: -3px 3px 3px -2px $third-color, 3px 3px 3px -2px $third-color, 0px -3px 3px -2px $third-color;
        }
    }


    & .name-wrapper.reply, & .email-wrapper.reply, & .new_comment.reply {
      width: 100%;
    }

    & .new_comment.reply:focus, & .new_comment.reply:valid  {
      width: 140%;
    }
    & .reply_buttons_wrapper {
      display: flex;
      width: 60%;
      justify-content: space-between;
      & .submit_reply {
        border: none;
        border-radius: 5px;
        background: $second-color;
        color: $first-color;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.1rem 0.5rem;
      }

      & .cancel_reply {
        border: none;
        border-radius: 5px;
        background: $third-color;
        color: black;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.1rem 0.5rem;
      }
    }
  }

.comment_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    & .comment_header {
        font-size: 2rem;
        color: black;
    }
    & .comment {
        display: flex;
        width: 60%;
        margin: 1rem 0;
        flex-direction: column;
        align-items: flex-start;

        & .comment_name {
          font: {
            size: 1.48rem;
            color: black;
          }
          margin-bottom: 0.1rem;
        }
        & .comment_email {
          font: {
            size: 1rem;
          }
          color: $second-color;
        }
        & .comment_content {
          font: {
            size: 1.28rem;
            weight: 600;
          }
          color: $third-color;
        }

        & .reply_comment {
          border-left: 4px solid $second-color;
          padding-left: 1rem;
          align-self: flex-start;
          margin: 0.5rem 0;
          display: flex;
          flex-direction: column;
          & .comment_name {
            margin-top: 0;
            padding-top: 0;
          }
        }
        & .s_reply {
          border: none;
          border-radius: 5px;
          background: $third-color;
          color: black;
          font-size: 1rem;
          font-weight: bold;
          padding: 0.1rem 0.5rem;
        }
    }
}

@media only screen and (max-width: 980px) {
    .new_comment_wrapper {
        & .name-wrapper, & .email-wrapper, & .new_comment, & .comment_post {
            width: 50%;
        }

        & .new_comment:focus, & .new_comment:valid {
            width: 70%;
        }
    }

    .comment_wrapper .comment {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .new_comment_wrapper {
        & .name-wrapper, & .email-wrapper, & .new_comment, & .comment_post {
            width: 60%;
        }

        & .new_comment:focus, & .new_comment:valid {
            width: 80%;
        }
    }

    .comment_wrapper .comment {
        width: 80%;
    }
}

@media only screen and (max-width: 360px) {
    .new_comment_wrapper {
        & .name-wrapper, & .email-wrapper, & .new_comment, & .comment_post {
            width: 60%;
        }

        & .new_comment:focus, & .new_comment:valid {
            width: 80%;
        }
    }

    .comment_wrapper .comment {
        width: 80%;
    }
}


